@model List<ResultFeatureSliderDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Öne Çıkan Alan Başlığı</th>
                                <th>Öne Çıkan Alan Açıklaması</th>
                                <th>Öne Çıkan Alan Resim Yolu</th>
                                <th>Öne Çıkan Alan Durumu</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.FeatureSliderTitle</td>
                                    <td>@item.FeatureSliderDescription</td>
                                    <td>@item.FeatureSliderImageUrl</td>
                                    <td>@item.FeatureSliderStatus</td>
                                    <td><a href="/Admin/FeatureSlider/UpdateFeatureSlider/@item.FeatureSliderId" class="btn btn-warning">Güncelle</a></td>
                                    <td><a href="/Admin/FeatureSlider/DeleteFeatureSlider/@item.FeatureSliderId" class="btn btn-danger">Sil</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <a href="/Admin/FeatureSlider/CreateFeatureSlider/" class="btn btn-primary">Yeni Kategori Girişi</a>
            </div>
        </div>
    </div>
</section>